<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="index.css"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<title>A Day in the Life of a Japanese Teenager</title>
	</head>
	<body>
<h2>A Day in the Life of a Japanese Teenager</h2>
	<img class="img-text" src="images/day_train.JPG" alt="arrive at train station">
	<img class="img-text" src="images/day_station.JPG" alt="at the final train station">
	<img class="img-text" src="images/day_city.JPG" alt="what the city looks like">
	<img class="img-text" src="images/day_cleaning.JPG" alt="classmates help clean the school">
	<p> 
	<img class="img-text" src="images/day_lunch.JPG" alt="obento lunch made from mom">
	<img class="img-text" src="images/day_club.JPG" alt="club">
	<img class="img-text" src="images/day_club_team.JPG" alt="team at kendo practice">
	<img class="img-text" src="images/day_club_shodo.JPG" alt="shodo calligraphy club">
	

		Explanation of what the project is
	</p>


	<h3>
		Wake Up and get ready for school
	</h3>
	<p>
		Small house, school uniform, fish for breakfast, take public transportation
	</p>



	<h3>
		At school 
	</h3>
	<p>
		Bowing, stay in one room and teachers rotate, applying for high school, bukatsu afterwards
	</p>



	<h3>
		Evening
	</h3>
	<p>
		Go home for dinner, then  jyuku, your dad gets home, bath, bed.
	</p>


	
	<h4>Site Map</h4>
		<ul>
			<li><a href="http://ec2-50-112-21-115.us-west-2.compute.amazonaws.com/Lab2/">Home Page</a></li>
		</ul>
	</body>
</html>





