<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8"/>
		<link type="text/css" rel="stylesheet" href="index.css"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<title> Japanese Restaurants in Utah </title>
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Temple</a></li>
				<li><a href="#">Topaz</a></li>
				<li><a href="#">DITL</a></li>
			</ul>
		</div>
		<div class="container text-head">
      <div class="row">
        <img class="subj-btn col-sm-12 col-lg-6" src="Japan_food/Japan-flag-and-kanji" alt=""/>
        <h1 class="sections"> Locations </h1>
        <p class="text"> Here's where you can find them </p>
      </div>
      <div class="row">
        <p class="sections"> Tsunami <br> Sushi Bar &amp; Grill </p>
        <img class="subj-btn col-sm-12 col-lg-6" src="Japan_food/100_3794" alt=""/>
        <p class="text"> </p>
      </div>
      <div class="row">
        <p class="sections"> Sushi Ya <br> All You Can Eat Sushi Bar</p>
        <img class="subj-btn col-sm-12 col-lg-6" src="Japan_food/IMG_1496" alt=""/>
        <p class="text"> </p>
      </div>
      <div class="row">
        <p class="sections"> The Happy Sumo <br> restaurant + sushi bar </p>
        <img class="subj-btn col-sm-12 col-lg-6" src="Japan_food/IMG_9751" alt=""/>
        <p class="text"> </p>
      </div>
    </div>
	</body>
</html