
<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../css/index.css"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<title>Buddhist Temple</title>
	</head>
	<body>


	<div id="menu">
		<ul>
			<li><a href="http://ec2-50-112-21-115.us-west-2.compute.amazonaws.com/Lab2/">Home</a></li>
			<li><a href="http://ec2-50-112-21-115.us-west-2.compute.amazonaws.com/Lab2/partials/japanese_day.html">DITL</a></li>
			<li><a href="#">Topaz</a></li>
			<li><a href="http://ec2-35-167-162-79.us-west-2.compute.amazonaws.com/creativeLabOne/pages.html#">Food</a></li>			
		</ul>
	</div>


	<h1 class="page-title">
		Japanese Religions and Buddhism in Utah
	</h1>
	<div class="container">

	<img class="img-text rotate-right col-sm-12 col-lg-12" src="../images/buddah.JPG" alt="statue of Buddah">
	
	<p class="text">
	There are three primary religions in Japan: Buddhism,  Shintoism, and Confucianism. Among these three, Buddhism is a religion while Confucianism is widly considered a way of thought. Many consider Shintoism to be a mix between a religion and a worldview. Buddhism is the most widespread in North America. 
	</p>
	<img class="img-text col-sm-12 col-lg-12" src="../images/funeral_day.JPG" alt="Head priest about to leave for a funeral">
	<p class="text"> 
	Just as Christianity stemmed from Jesus Christ but had many different sects break off from it with reformers and restorers, the same thing happened with Buddhism. The various sects' differences were magnified as they spread across Asia.  
	</p>
	<p class="text"> 
	Jodo Shinshu is one of the most common branches of (Japanese) Buddhism in America. The Jodo Shinshu headquarters are located in Kyoto, Japan. They have temples all around the world and one in SLC. According to the SLC temple's <a href="http://www.slbuddhist.org/">website</a>, they meet most Sundays at 10AM. 
	</p>
	<h4 class="sections contact"> Contact the Temple:</h4>
	<p class="text">Rev. Jerry Hirano at jhirano@slbuddhist.org</p>
	<p class="text">
	Salt Lake Buddhist Temple
	211 West 100 South
	Salt Lake City, UT 84101
	</p>

	</div>
	<div class="footer">
		<p >Website produced and maintained by BYU students Naomi Johnson and Scott Frodsham</p>
		<p >All photos and artwork property of Naomi Johnson © 2017</p>
	</div>

	</body>
</html>




